{% extends '::base.html.twig' %}

{% block title %}
	CV - Generator
{% endblock %}

{% block body %}

	<div class="container">

			<h2>CV - Generator</h2>
			
			<a href="{{ path('login-form') }}" class="bottun">Login</a>
			<a href="{{ path('register-form') }}" class="bottun">Register</a>


	</div>
	
{% endblock %}